body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
header {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

.ticket-details {
    text-align: center;
    padding: 40px 0;
}

.ticket-details h1 {
    font-size: 24px;
    color: #f00;
}
.ticket-details p {
    font-size: 20px;
}

.movie-info {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.movie-info img {
    max-width: 100%;
    height: auto;
}

.movie-info h2 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-info p {
    font-size: 14px;
}

.seat-selection {
    margin: 20px;
}

.seat-selection h2 {
    font-size: 20px;
    margin: 10px 0;
}

.seat-selection img {
    max-width: 100%;
    height: auto;
}

.ticket-summary {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.ticket-summary h2 {
    font-size: 20px;
    margin: 10px 0;
}

.ticket-summary p {
    font-size: 20px;
}

.book-button {
    display: block;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
}
.seat-container {
    text-align: center;
    padding: 40px;
}

h2 {
    font-size: 24px;
    color: #f00;
}

.seats-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Create a 10x10 grid */
    gap: 3px; /* Adjust the spacing between seats */
    
}

.seat {
    width: 30px; /* Adjust the size of each seat */
    height: 30px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* Add your button styles here */
/*.button {
    width: 25px;
    height: 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}*/

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer ul {
    list-style: none;
    font-size: 20px;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
}
footer p{
    color: #ff0000;
    text-align: center;
    
}